html
  meta(name='viewport' content='width=device-width, user-scalable=no')

  block styles
    link(rel='stylesheet' href='docs/vendor.css')
    link(rel='stylesheet' href='dist/mn-card.css')

  style.
    img {max-width: 100%}
    .demo .mn-card {margin: 1em}
    .demo h2 {font-weight: normal}

    @media (max-width: 599px) {
      .demo {margin-top: 80px}
      .demo .mn-card {margin: 1em 0}
      .docs {margin-top: 0}
    }

body
  h2 mn-card
  include github-corner

  .mn-layout-fullscreen.mn-layout-centered
    .mn-layout-container
      .demo.mn-layout-column.mn-layout-sm-row
        .mn-card.padding-title
          header
            h2 Lorem ipsum
          img(src='http://cdn1.sciencefiction.com/wp-content/uploads/2015/03/Game-of-Thrones-season-5-thumb.jpg')
        .mn-card.padding-title.flex-sm-50.flex-md-60
          h2 Lorem ipsum
          .mn-table-list
            a.mn-item(href='#' close-dialog)
              span John Snow

            a.mn-item(href='#' close-dialog)
              span Daenerys Targaryen

            a.mn-item(href='#' close-dialog)
              span Tyrion Lannister
  
  .docs.mn-layout-container
    mn-code.sh.
      bower install --save mn-card

    p Or just download the main files, located in dist/

    h3 usage
    p Just use the class <strong class="attribute">.mn-card</strong> in a element. To has padding, use the class <strong class="attribute">.padding</strong>
    mn-code.html.
      <div class="mn-card padding">
        <h2>Title</h2>
        <p>lorem ipsum</p>
      </div>

    p If you want padding only in header, and not in content, use the class <strong class="attribute">.padding-title</strong>
    mn-code.html.
      <div class="mn-card padding-title">
        <h2>Title</h2>
        <p>lorem ipsum</p>
      </div>

    p Too works if you use a <strong class="tag">header</strong> wraping the tags h2, h3, etc.

  
  block scripts
    script(src='docs/vendor.js')

  script.
    var links = document.querySelectorAll('.mn-table-list a[href]')
    Array
        .from(links)
        .forEach(function(link) {
          link.addEventListener('click', preventDefault)
          link.addEventListener('focus', event => event.target.blur())
        })

    function preventDefault(event) {
      event.preventDefault()
    }

